<html>
  <head>
    <title>VARCHAR 255</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>

    <h2>Managers Only</h2>

    <a href="/">Click here if NON-Manager</a>

    <form action="/sessions" method="post">
      <input type="text" name="username" placeholder='...username'>
      <input type="text" name="password" placeholder='...password'>
      <input type="submit" value="Log-In">
    </form>

    <!-- ****** JS Libraries ****** -->
      <script src='/javascripts/lib/jquery.js'></script>
      <script src='/javascripts/lib/underscore.js'></script>
      <script src='/javascripts/lib/backbone.js'></script>

      <!-- ****** Backbone Models ****** -->
      <script src='/javascripts/models/FoodModel.js'></script>
      <script src='/javascripts/models/PartyModel.js'></script>
      <script src='/javascripts/models/OrderModel.js'></script>

      <!-- ****** Backbone Collection ****** -->
      <script src='/javascripts/collections/FoodCollection.js'></script>
      <script src='/javascripts/collections/PartyCollection.js'></script>
      <script src='/javascripts/collections/OrderCollection.js'></script>

      <!-- ****** Backbone Views ****** -->
      <script src='/javascripts/views/FoodView.js'></script>
      <script src='/javascripts/views/FoodListView.js'></script>
      <script src='/javascripts/views/PartyView.js'></script>
      <script src='/javascripts/views/PartyListView.js'></script>
      <script src='/javascripts/views/OrderView.js'></script>
      <script src='/javascripts/views/OrderListView.js'></script>

      <!-- ****** JS Application ****** -->
      <script src='/javascripts/app.js'></script>

  </body>
</html>
