<html>
  <head>
    <title>Restaurant</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <header>
      <h1>Welcome to Matty Matt's VARCHAR 255</h1>
      <h2>GET DOWN OR GET OUT</h2>
    </header>



    <ul id='food-list'>
    Food
    </ul>

    <ul id='order-list'>
    Orders
  </ul>

  <button type="button" id="place-order">Order</button>

    <ul id='party-list'>
    <ul>Parties</ul>
    </ul>
    <footer>
    <a id='link' href="/admin">Click here to login</a>
  </footer>


    <!-- ****** JS Libraries ****** -->
      <script src='/javascripts/lib/jquery.js'></script>
      <script src='/javascripts/lib/underscore.js'></script>
      <script src='/javascripts/lib/backbone.js'></script>

      <!-- ****** Backbone Models ****** -->
      <script src='/javascripts/models/FoodModel.js'></script>
      <script src='/javascripts/models/PartyModel.js'></script>
      <script src='/javascripts/models/OrderModel.js'></script>

      <!-- ****** Backbone Collection ****** -->
      <script src='/javascripts/collections/FoodCollection.js'></script>
      <script src='/javascripts/collections/PartyCollection.js'></script>
      <script src='/javascripts/collections/OrderCollection.js'></script>

      <!-- ****** Backbone Views ****** -->
      <script src='/javascripts/views/FoodView.js'></script>
      <script src='/javascripts/views/PartyView.js'></script>
      <script src='/javascripts/views/OrderView.js'></script>
      <script src='/javascripts/views/FoodListView.js'></script>
      <script src='/javascripts/views/PartyListView.js'></script>
      <script src='/javascripts/views/OrderListView.js'></script>

      <!-- ****** JS Application ****** -->
      <script src='/javascripts/app.js'></script>

  </body>
</html>
