<html>
  <head>
    <title>Restaurant</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />

  </head>
  <body>
    <header>
      <h1>Welcome to Matty Matt's VARCHAR 255</h1>
      <h2>GET DOWN OR GET OUT</h2>
    </header>



    <ul id='food-list'>
    <ul>Food</ul>
    </ul>

    <ul id='order-list'>
    <ul>Orders</ul>
    </ul>

    <ul id='party-list'>
    <ul>Parties</ul>
    </ul>
    <footer>
    <a id='link' href="/admin">Click here to login</a>
  </footer>

    <script charset="utf-8" src='/javascripts/lib/jquery.js'></script>
    <script charset="utf-8" src='/javascripts/lib/underscore.js'></script>
    <script charset="utf-8" src='/javascripts/lib/backbone.js'></script>
    <script charset="utf-8" src='/javascripts/app.js'></script>

  </body>
</html>
