<html>
  <head>
    <title>Restaurant</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Welcome to Matty Matt's VARCHAR 255</h1>
    <h2>no coins, no split checks</h2>
    <h3>GET DOWN OR GET OUT</h3>

    <script charset="utf-8" src='/javascripts/lib/jquery.js'></script>
    <script charset="utf-8" src='/javascripts/lib/underscore.js'></script>
    <script charset="utf-8" src='/javascripts/lib/backbone.js'></script>
    <script charset="utf-8" src='/javascripts/app.js'></script>

  </body>
</html>
