header {
  margin: 30px;
  background-color: rgba(106, 133, 58, 0.55);
  border-radius: 5px;
}

h1 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;

}
h2 {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  float: center;

    }




body {
    color: white;
    background-image: url(http://i.imgur.com/Vy8xCfE.jpg?1);
    }

#food-container{
  width: 50%;
  float: left;
  overflow: auto;
}

#food-container h2{
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  width: 10%;
  margin: 0 auto 25px;
}


#party-container{
  width: 50%;
  float: left;
  overflow: auto;
}

#party-container h2{
  text-align: center;
}

#link{
  color: white;
  text-decoration: none;
  float: left;
}

footer {
  display: block;
  width: 100%;
  clear: both;
}
